@media screen and (max-width: 1140px)
   .subscribe_cn
        .container_cn
            .subscribe
                .input_mail > input
                     width: 95%
                     
@media screen and (max-width: 768px) 
    .subscribe_cn
        .container_cn
            .subscribe
                flex-direction: column
                .input_mail
                    width: 100% 
                    > input
                        margin-bottom: 1rem
                        width: 100%