.btn_md
    text-decoration: none  
    padding: 10px 35px
    border-radius: 30px
    &.green
        background: linear-gradient(30deg, #1aa190, #3bcf7a)
    &.purple
        
        background-color: $purple
    &.no-bg
        background: transparent
    &.bold
        font-weight: 700


